doctype html
html
  head
    title= title + ' | Petter'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 
        | Petter
      nav 
        ul 
          li 
            a(href="/") Home
          li 
            a(href="/animals") Animals 
          li 
            a(href="/about-us") About Us
    
    main 
      block content
    
    footer 
      p Made by 
        a(href="https://github.com/Meeran-Tofiq") Meeran Tofiq
