extends layout 

block content 
  div.pet-food-detail.with-background
    div 
      h1= title + ' Details'
      a(href= petFood._id + '/update') Edit 
      a(href= petFood._id + '/delete') Delete 
    div.pet-food-detail-card
      span.animal-type= "For animals of type: " + petFood.category.animal_type
      span.price= "Price: $" + petFood.price 
      span.in-stock= "Left in stock: " + petFood.in_stock